
<tr>
  <td class="item_id_for_clearance"><%= item.id %></td>
  <td><%= item.style.name %></td>
  <td><%= item.color %></td>
  <td><%= item.size %></td>
  <td><%= item.status %></td>
  <td><%= item.style.retail_price %></td>
  <td><%= item.style.wholesale_price %></td>
  <td>
  	<%= link_to clearance_batch_path(item), method: "destroy" do %>
  		<i class="fa fa-trash-o"></i>
  	<% end %>
  </td>
</tr>


  
