
<tr>
  <td class="item_id_for_clearance"><%= item.id %></td>
  <td><%= item.style.name %></td>
  <td><%= item.status %></td>
  <td><%= item.style.wholesale_price %></td>
  <td><%= item.price_sold %></td>
</tr>


  
