<div class="clearance-batch-wrapper">
	<h2 class="text-center">Clearance Batches <%= @clearance_batch.id %></h2>
	<%= link_to clearance_batch_path(@clearance_batch), class: "remove_item_or_batch" do -%>
	  <i class="fa fa-trash-o"></i>
	<% end %>

	<div class="flash-messages displayNone"></div>
	<div class="col-sm-12 text-center">
	  <div class="searchbar">
	    <%= form_tag @clearance_batch, method: :put do %>
	      <%= render "search_form" %>
	    <% end %>
	  </div>
	</div>

	<% if @items %>
		<div class="displayItemWrapper">
			<table id="itemsTable" class="table table-hover">
			  <thead><%= render "items/item_thead" %></thead>
			  <tbody><%= render "tbody_multiple_items" %></tbody>
			</table>
		</div>
  <% end %>
</div>

