<div class="clearance-batch-wrapper">
	<h2 class="text-center">Clearance Batch <%= @clearance_batch.id %></h2>
	<div class="flash-messages displayNone"></div>
	<div class="col-sm-12 text-center">
	  <div class="searchbar find_item_id_n_add">
	    <%= form_tag @clearance_batch, method: :put do %>
	      <%= render "search_form" %>
	    <% end %>
	  </div>
	</div>

	<% if @items %>
		<div class="displayItemWrapper">
			<table id="itemsTable" class="table">
			  <thead><%= render "items/item_thead" %></thead>
			  <tbody><%= render "tbody_multiple_items" %></tbody>
			</table>
		</div>
  <% end %>
</div>

