<h2 class="text-center">Create a New Batch</h2>
<div class="flash-messages displayNone"></div>
<div class="col-sm-12 text-center">
  <div class="searchbar">
    <%= form_tag potential_clearance_item_path do %>
      <%= render "search_form" %>
    <% end %>
  </div>
</div>

<div class="save_items_to_new_batch displayNone">
  <%= form_tag(clearance_batches_path) do  %>
    <div class="displayItemWrapper">
      <table id="itemsTable" class="table table-hover">
        <%= render "items/item_thead" %>
        <tbody></tbody>
      </table>
    </div>
    <%= button_tag(name: "save", class: "btn btn-default") do %>
      Save
    <% end %>
  <% end %>
</div>

