<!DOCTYPE html>
<html>
<head>
  <title>TakeHomeChallenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-theme" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag("https://d27bvhtwhzf6pr.cloudfront.net/assets/branding/logo-b-2bdbbe3a9e959a90e6ea37ece4b279cd.png") %> 
        <% end %>
      </div>
      <!-- Top Menu Items -->
      <div class="collapse navbar-collapse" id="collapse-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if print_batch %>
              <%= link_to "#", class: "share", onclick: "window.print();return false;" do %>
                <i class="fa fa-file-pdf-o"></i> Print Me
              <% end %>
            <% end %>
          </li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown"}, role: "button", aria: { haspopup: "true", expanded: "false"} do %>
              Clearance Tool <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to items_path, class: "all-items" do %>
                  <i class="fa fa-list"></i> Items
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>
                  <i class="fa fa-archive"></i> Clearance Batches
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to new_clearance_batch_path do %>
                  <i class="fa fa-fw fa-edit"></i> Create a New Batch
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav><!-- /nav -->
    <div class="container">
      <div class="container-fluid">
        <%= yield %>
      </div><!-- /.container-fluid -->
    </div>
  </div><!-- /#wrapper -->
</body>
</html>
