<!DOCTYPE html>
<html>
<head>
  <title>TakeHomeChallenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-theme" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag("https://d27bvhtwhzf6pr.cloudfront.net/assets/branding/logo-b-2bdbbe3a9e959a90e6ea37ece4b279cd.png") %> 
        <% end %>
      </div>
      <!-- Top Menu Items -->
      <div class="collapse navbar-collapse" id="collapse-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to items_path, class: "all-items" do %>
              <i class="fa fa-list"></i> Items
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-archive"></i> Clearance Batches
            <% end %>
          </li>
          <li>
            <%= link_to new_clearance_batch_path do %>
              <i class="fa fa-fw fa-edit"></i> Create a New Batch
            <% end %>
          </li>
          <li>
            <% if print_batch %>
            <%= link_to "#", class: "share", onclick: "window.print();return false;" do %>
              <i class="fa fa-share-alt"></i>
            <% end %>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <div class="container">
      <div class="container-fluid">
        <%= yield %>
      <!-- /.container-fluid -->
      </div>

    <!-- /#page-wrapper -->
    </div>

  <!-- /#wrapper -->
  </div>
</body>
</html>
