<!DOCTYPE html>
<html>
<head>
  <title>TakeHomeChallenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-default navbar-theme" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to "STITCH FIX", root_path, class: "navbar-brand" %>
      </div>
      <!-- Top Menu Items -->
      <ul class="nav navbar-right top-nav">
        
      </ul>
      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li class="">
            <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Items</a>
          </li>
          <li>
            <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Clearance Batches</a>
          </li>
          <li>
            <a href="tables.html"><i class="fa fa-fw fa-table"></i> </a>
          </li>
          <li>
            <a href="forms.html"><i class="fa fa-fw fa-edit"></i> </a>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">

      <div class="container-fluid">
          <h1>Stitch Fix Clearance Tool</h1>
          <%- if flash[:notice] -%>
            <div class="alert alert-info" role="alert">
              <%= flash[:notice].html_safe %>
            </div>
          <%- end -%>
          <%- if flash[:alert] -%>
            <div class="alert alert-danger" role="alert">
              <%= flash[:alert].html_safe %>
            </div>
          <%- end -%>

          <%= yield %>
      <!-- /.container-fluid -->
      </div>

    <!-- /#page-wrapper -->
    </div>

  <!-- /#wrapper -->
  </div>
</body>
</html>
