<!DOCTYPE html>
<html>
<head>
  <title>TakeHomeChallenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-theme" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to "STITCH FIX", root_path, class: "navbar-brand" %>
      </div>
      <!-- Top Menu Items -->
      <ul class="nav navbar-right top-nav">
        
      </ul>
      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
           <li>
            <%= link_to "javascript:;", data: { toggle: "collapse", target: "#group-items"} do  %>
              <i class="fa fa-fw fa-arrows-v"></i> Items <i class="fa fa-fw fa-caret-down"></i>
            <% end %>
            <ul class="collapse" id="group-items">
              <li><%= link_to "All Items", items_path, class: "all-items" %></li>
              <li><%= link_to "Sellable Items", sellable_path %></li>
              <li><%= link_to "Clearaced Items", clearanced_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to clearance_batches_path do %>
              <i class="fa fa-archive"></i> Clearance Batches
            <% end %>
          </li>
          <li>
            <%= link_to new_clearance_batch_path do %>
              <i class="fa fa-fw fa-edit"></i> Create a New Batch
            <% end %>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">

      <div class="container-fluid">
          
          <!-- <div class="flash-messages" style="display: none;"></div> -->

          <%= yield %>
      <!-- /.container-fluid -->
      </div>

    <!-- /#page-wrapper -->
    </div>

  <!-- /#wrapper -->
  </div>
</body>
</html>
